.home-page {
  margin: 0 auto;
  section.banner {
    min-width: 100vw;
  }
  section:not(.banner-container) {
    @media only screen and (min-width: 768px) {
      max-width: 1440px;
      margin: 58px auto;
    }
  }
  .banner-container {
    background-color: #333;
  }
  .how-we-work--mobile {
    display: block;
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
  .how-we-work--desktop {
    display: none;
    overflow: hidden;
    @media only screen and (min-width: 768px) {
      display: block;
      margin-top: 0!important;
      max-width: calc(100% - 480px - 16px);  
      max-height: calc(50vh);
      .how-we-work {
        max-width: calc(100% - 480px - 127px);
        margin-left: 0;
        padding-bottom: 0;
      }
    }
  }
  .why-us-and-recommended-brand {
    display: grid;
    grid: 1fr / 1fr 1fr;
    column-gap: 5vw;
    padding: 0 132px;
  }
}